# ADVERTENCIA DE SEGURIDAD: ¡no ejecute con la depuración activada en producción!
DEBUG=True
# ADVERTENCIA DE SEGURIDAD: ¡mantenga en secreto la clave secreta utilizada en producción!
SECRET_KEY=rRLDz9qLhM54qyB86fjb76c20PcvJlwWLReQK9sP
# ADVERTENCIA DE SEGURIDAD: ¡mantenga en secreto los datos de conexión utilizados en producción!
DATABASE_URL=mysql://root:password@127.0.0.1:3306/chuck_norris